@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Orbitron:wght@400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.index-main{
    width: 500px;
    height: 500px;
    border: 2px solid gray;
    display: block;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

h1{
    font-size: 5em;
    padding-top: 30%;
}

a{
    padding-top: 15px;
    text-decoration: none;
    color: #000;
}

a:hover{
    font-weight: bolder;
}

footer{
    text-align: center;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c3c3c3;
    padding: 5px;
}